# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Files
uploads/*
!uploads/travelloop.png

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
dist/

# Rest
test.rest